.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active{
    opacity: 1;
    pointer-events: all;
}

.modal_content{
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    width: 50vw;
    max-width: 700px;
}

input{
    width: 100%;
    height: 30px;
}

h1{
   text-align: center;
}

.name_block{
    border: 2px silver solid;
    border-radius: 5px;
    padding: 5px;
}

.f_name_p{
    font-size: 1.5rem;
    text-align: right;
}
.l_name_p{
    font-size: 1.5rem;
    text-align: right;
}


.btn_block{
    float: right;
}

.save_btn{
    margin-top: 10px;
    background: rgb(53, 167, 110);
    font-weight: 700;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    transition: 0.2s;
}

.save_btn:hover {
    background: rgb(33, 147, 90);
}
.save_btn:active {
    background: rgb(6, 185, 95);
}

.back_btn{
    margin-top: 10px;
    background: rgb(217, 217, 217);
    font-weight: 700;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    transition: 0.2s;
}

.back_btn:hover {
    background: rgb(177, 177, 177);
}
.back_btn:active {
    background: rgb(148, 148, 148);
}

.delete_btn{
    margin-top: 10px;
    background: rgb(246, 39, 39);
    font-weight: 700;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    transition: 0.2s;
}

.delete_btn:hover{
    background: rgb(180, 25, 25);
}

.delete_btn:active{
    background: rgb(133, 21, 21);
}