input{
    width: 100%;
    height: 30px;
}

h1{
   text-align: center;
}


.btn_block{
    float: right;
}

.save_btn{
    margin-top: 10px;
    background: rgb(53, 167, 110);
    font-weight: 700;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
}

.back_btn{
    margin-top: 10px;
    background: rgb(217, 217, 217);
    font-weight: 700;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
}